---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  name: suse-nfs-disk-0
  namespace: demo
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 30Gi
  storageClassName: longhorn-opensuse-leap-15-6
  volumeMode: Block
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  creationTimestamp: null
  name: suse-nfs-disk-1
  namespace: demo
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  storageClassName: nfs-csi
  volumeMode: Filesystem
---
apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: suse-nfs-cloudinit
  namespace: demo
data:
  networkdata: ""
  userdata: I2Nsb3VkLWNvbmZpZwpwYWNrYWdlX3VwZGF0ZTogZmFsc2UKcnVuX2NtZDoKICAtIC0gc3lzdGVtY3RsCiAgICAtIGVuYWJsZQogICAgLSAtLW5vdwogICAgLSBxZW11LWd1ZXN0LWFnZW50CnNzaF9hdXRob3JpemVkX2tleXM6CiAgLSBzc2gtcnNhCiAgICBBQUFBQjNOemFDMXljMkVBQUFBREFRQUJBQUFDQVFEWUw3ZngzTmNKVlhoT1pxUGRsaitKRUtLYTVTQ1R5K0VLZFNGaUNyRWREUjQ3U2NFMGtST0ZXaHk5bjVrZTJNSlUyYnlFcjEyeGVpSmk2emw0dEtVaFVrTlJENlVZMFFXdDJab0I5ZGdjQ3p5azh6OGhCY1p6Rml0cFIxTnQ3Wm5iRUlNTXZRTFM4RUgrcXFIMFhnSGc3VlV0b0oxMlo0TFRYSUZFd3g0eExuMDFiek51WnlkZnY2S2dsbHFzbG42R0VzS1pidnd0VjBPVTR6RXhFdDRUQjVLc1JXdlR3ZUxScDVtWFpYbUJHYTFndDJmR0xQRXRRb0xxVU5hMUp0cmhMa3BBelhFa05mek1VYU1QMUVIN1luMGVyVkU4YU1RL1NqVk53bjdES1d0SmJSZXhQSmlTOU9UWnJaMjJpU1FDWEJYVnlCeURhdFFOdzhZMXJUWC8vZlUwdksxcDhoakNyNHFEZmMxNUI3V2xqbjFoSHVtdWd6cnBOS0JseWI4b21hcUVPZ0NDS0tJZGpXYzhhMXV3M1R6U2hlWUw2cng1Z1BkM3E1SktRQVRaQnNvdjZGa3NBeXd6azhpc1FZWStjMlhwVmt5WXFiOEx4SGZYWWRmblJ5VXVNd0hrZ2tOSnZyL3BUc3hyVUkwbGQrNnhGTWdUaWR6a0xmSXR2NVFvdExUeXgvT3FqcDFDU0t2d1IzQldHb0NRNC9GWDhkNTBzQXdwVUhQSnVkREMxSVpaMVNBWElJSlBGQjFxUldadlRSTkg3bUR0NkkwMUl1SDhkRkpzalNaN0lHWVZBbVVOYnV2VGNML0pNRXpWblpCcDdNbjlOUmh1NkJtN2MwdVR4OGhNbEdyUkx4a2JaT2xqS2NLNnh0d3pHYkRkcmhCbXg3U3ROa1pKbnc9PQo=
---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  creationTimestamp: null
  name: suse-nfs
  namespace: demo
spec:
  runStrategy: RerunOnFailure
  template:
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: network.harvesterhci.io/vmnet
                operator: In
                values:
                - "true"
      architecture: amd64
      domain:
        cpu:
          cores: 2
        devices:
          disks:
          - bootOrder: 1
            disk:
              bus: virtio
            name: disk-0
          - disk:
              bus: virtio
            name: disk-1
          - disk:
              bus: virtio
            name: cloudinitdisk
          interfaces:
          - bridge: {}
            macAddress: f6:a8:4f:cc:9c:d2
            model: virtio
            name: default
        memory:
          guest: 4Gi
        resources:
          limits:
            cpu: "2"
            memory: 4Gi
          requests:
            cpu: 125m
            memory: 2730Mi
      hostname: suse-nfs
      networks:
      - multus:
          networkName: demo/vlan10
        name: default
      volumes:
      - name: disk-0
        persistentVolumeClaim:
          claimName: suse-nfs-disk-0
      - name: disk-1
        persistentVolumeClaim:
          claimName: suse-nfs-disk-1
      - cloudInitNoCloud:
          networkDataSecretRef:
            name: suse-nfs-cloudinit
          secretRef:
            name: suse-nfs-cloudinit
        name: cloudinitdisk
